<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beatvault</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
  </head>
  <body class="bg-no-repeat bg-cover" style="background-image: url(/static/images/background_1.jpeg)">
    <div class="navbar flex justify-between border-b-2 mt-2">
      <div class="search-container flex start mt-4 ml-12 gap-4 w-max">
        <form action="/search" method="GET">
          <button type="submit" class="border-solid border-2 hover:bg-indigo-700 border-indigo-400 text-honeydew font-bold py-1 px-1 rounded"><h3>Search</h3></button>
          <input
            class="border-2 border-solid border-indigo-500 rounded-md bg-honeydew-200 text-black-800 placeholder-indigo-400 text-center"
            type="text"
            name="query"
            placeholder="Search for tracks"
          />
        </form>
      </div>
      <nav class="flex flex-end mt-4 mr-12 mb-2 gap-4">
        <a
          href="/dashboard"
          class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 border-b-2 border-honeydew-500"
          >Home</a
        >
        <a
          href="/discover"
          class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 border-b-2 border-honeydew-500"
          >Discover</a
        >
        <a
          href="/connect"
          class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 border-b-2 border-honeydew-500"
          >Connect</a
        >
      </nav>
    </div>
    <div class="page flex flex-col justify-center" >
      <h1 class="mt-14 text-5xl flex justify-center">
        Welcome to the shop!
      </h1>
      <div class="flex flex-col">
        <ul class="flex flex-row justify-center gap-16 mt-16 text-5xl text-honeydew">
          <li
            class="flex justify-center items-center rounded-lg border-4 border-honeydew gap-4 w-1/4 h-44 "
          >
            <span>feed1</span>
          </li>
          <li
            class="flex justify-center items-center rounded-lg border-4 border-honeydew gap-4 w-1/4 h-44"
          >
            <span>feed2</span>
          </li>
          <li
            class="flex justify-center items-center rounded-lg border-4 border-honeydew gap-4 w-1/4 h-44"
          >
            <span>feed3</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
