<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  
    {% comment %} <center>
        <img src="static/images/th.jpg" width="200">
        <form action="/transaktion" method="POST">
            <label>Sender</label>
            <input type="text" name="sender" placeholder="Bitte Sender eintragen">
            <label>Empfänger</label>
            <input type="text" name="receiver" placeholder="Bitte Empfänger eintragen">
            <label>Betrag</label>
            <input type="text" name="amount" placeholder="Bitte Betrag eintragen">
            <button type="submit">Abschicken</button>
        </form>
    </center> {% endcomment %}
</body>
</html>
