<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% comment %} https://jinja.palletsprojects.com/en/3.1.x/templates/
    https://flask.palletsprojects.com/en/2.3.x/quickstart/#rendering-templates
    {% endcomment %} {% for item in navigation %}
    <h2>Index: {{block.index}}</h2>
    <ul>
      <li>Prev. Hash: {{block.previous_hash}}</li>
      <li>Hash: {{block.hash}}</li>
      <li>Timestamp: {{block.time}}</li>
    </ul>
    {% endfor %}
    <div>
      <h4>Transaktionen:</h4>
      {% for transactions in block.transactions %}
      <ol>
        <li>Sender: {{ transaction.sender }}</li>
        <li>Receiver: {{ transaction.receiver }}</li>
        <li>Amount: {{ transaction.amount }}</li>
      </ol>
    </div>
  </body>
</html>
